In [13]:
root_dir = r"C:\Users\329982789\Desktop\ML for Trading\ML4T_2018Spring\ML4T_2018Spring"
base_dir = r"C:\Users\329982789\Desktop\ML for Trading\ML4T_2018Spring\ML4T_2018Spring\Forecasting and Portfolio Optimization"
path=r'C:\Users\329982789\Desktop\ML for Trading\ML4T_2018Spring\ML4T_2018Spring\data'
import pandas as pd
import numpy as np
import datetime as dt
import os
from scipy import optimize as opt
from statsmodels.tsa.stattools import adfuller
from util import plot_data
data_dir = os.listdir(r'C:\Users\329982789\Desktop\ML for Trading\ML4T_2018Spring\ML4T_2018Spring\data')

In [39]:
syms=['GOOG','AAPL','GLD','XOM']
sd=dt.datetime(2008,1,1)
ed=dt.datetime(2009,1,1)
dates = pd.date_range(sd, ed)
prices_all = get_data(syms, dates)  # automatically adds SPY
prices = prices_all[syms]  # only portfolio symbols
prices_SPY = prices_all['SPY']  # only SPY, for comparison later

# normalizing values
prices_norm = prices/prices.iloc[0]
SPY_norm = prices_SPY/prices_SPY.iloc[0]
# filling in nan values in data
prices_norm.fillna(method='ffill',inplace=True) 
prices_norm.fillna(method='bfill', inplace=True)

In [40]:
# performs an Augmented Dickey-Fuller test to determine if the stock prices is a stationary time series or not.
# An Augmented Dickey-Fuller test tests a time series against the null hypothesis
# that there is a unit root contained in it.
# If the p_value is large (>0.05), it is likely that there is a unit root and thus the series is not stationary
# Otherwise, it is likely that the series is stationary   
for sym in syms:
    print('Asset: ', sym)
    adf_df = adfuller(prices_norm[sym])
    dfoutput = pd.Series(adf_df[0:4], index=['test statistic', 'p-value', '# of lags', '# of observations'])
    print(dfoutput, '\n')

# the asset prices in this portfolio are not stationary time series

Asset:  GOOG
test statistic        -1.687764
p-value                0.437428
# of lags              0.000000
# of observations    252.000000
dtype: float64

Asset:  AAPL
test statistic        -0.946095
p-value                0.772414
# of lags              1.000000
# of observations    251.000000
dtype: float64

Asset:  GLD
test statistic        -2.028560
p-value                0.274193
# of lags              0.000000
# of observations    252.000000
dtype: float64

Asset:  XOM
test statistic        -1.991018
p-value                0.290525
# of lags              2.000000
# of observations    250.000000
dtype: float64

In [ ]:
def turn_stationary(stocks=prices_norm[sym]):

            Adj Close
Date
2012-09-12     144.39
2012-09-11     143.91
2012-09-10     143.51
2012-09-07     144.33
2012-09-06     143.77
2012-09-05     140.91
2012-09-04     141.03
2012-08-31     141.16
2012-08-30     140.49
2012-08-29     141.51
2012-08-28     141.40
2012-08-27     141.54
2012-08-24     141.51
2012-08-23     140.66
2012-08-22     141.82
2012-08-21     141.76
2012-08-20     142.19
2012-08-17     142.18
2012-08-16     141.99
2012-08-15     140.95
2012-08-14     140.79
2012-08-13     140.77
2012-08-10     140.84
2012-08-09     140.61
2012-08-08     140.49
2012-08-07     140.32
2012-08-06     139.62
2012-08-03     139.35
2012-08-02     136.64
2012-08-01     137.59
...               ...
2000-03-14     110.02
2000-03-13     111.60
2000-03-10     112.84
2000-03-09     113.44
2000-03-08     110.22
2000-03-07     110.36
2000-03-06     112.53
2000-03-03     113.64
2000-03-02     111.55
2000-03-01     111.48
2000-02-29     110.67
2000-02-28     109.62
2000-02-25     107.36
2000-02-24     107.75
2000-02-23     109.96
2000-02-22     108.68
2000-02-18     108.95
2000-02-17     111.35
2000-02-16     111.93
2000-02-15     113.60
2000-02-14     112.33
2000-02-11     111.68
2000-02-10     113.99
2000-02-09     113.76
2000-02-08     116.20
2000-02-07     114.65
2000-02-04     114.82
2000-02-03     115.30
2000-02-02     113.58
2000-02-01     113.49

[3175 rows x 1 columns]